mule/src/main/resources/grammy.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:7011" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:7011" targetNamespace="http://localhost:7011">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:7011">
            <xs:simpleType name="MusicGenre">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="BLUES"/>
                    <xs:enumeration value="PUNK_ROCK"/>
                    <xs:enumeration value="POST_PUNK"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="AlbumDTO">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="tracks" type="xs:long"/>
                    <xs:element name="length" type="xs:long"/>
                    <xs:element name="sales" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CoordinatesDTO">
                <xs:sequence>
                    <xs:element name="x" type="xs:long"/>
                    <xs:element name="y" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MusicBandDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="coordinates" type="CoordinatesDTO"/>
                    <xs:element name="creationDate" type="xs:dateTime"/>
                    <xs:element name="numberOfParticipants" type="xs:long"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="establishmentDate" type="xs:date"/>
                    <xs:element name="genre" type="MusicGenre"/>
                    <xs:element name="bestAlbum" type="AlbumDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AddSingeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bandId" type="xs:long"/>
                        <xs:element name="album" type="AlbumDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddParticipantRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bandId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MusicBandDTO" type="MusicBandDTO"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AddSingeRequest">
        <wsdl:part element="tns:AddSingeRequest" name="AddSingeRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddParticipantRequest">
        <wsdl:part element="tns:AddParticipantRequest" name="AddParticipantRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GrammyPort">
        <wsdl:operation name="AddSinge">
            <wsdl:input message="tns:AddSingeRequest" name="AddSingeRequest"> </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="AddParticipant">
            <wsdl:input message="tns:AddParticipantRequest" name="AddParticipantRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GrammyPortSoap11" type="tns:GrammyPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddSinge">
            <soap:operation soapAction=""/>
            <wsdl:input name="AddSingeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="AddParticipant">
            <soap:operation soapAction=""/>
            <wsdl:input name="AddParticipantRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GrammyPortService">
        <wsdl:port binding="tns:GrammyPortSoap11" name="GrammyPortSoap11">
            <soap:address location="http://localhost:7011/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>